#If isn't set custom prefix default is NG_APP_ but you can set any prefix by ngxEnv.prefix option in angular.json
#For example MY_ prefix will make variables like MY_API_URL accessible in application code via environment.MY_API_URL
#See https://www.npmjs.com/package/@ngx-env/builder for more details
MY_ENV=Local #your environment name
NG_APP_API_URL=http://localhost:8080 #your backend URL
